/* html {
    font-family: 'Work Sans', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    line-height: 145%;
}

body p {
    line-height: 145%;
    letter-spacing: 0.75px;
}

body h1,
body h2 {
    line-height: 115%;
    letter-spacing: -1px;
}

body h3,
body h4,
body h5,
body h6 {
    line-height: 115%;
}

body a,
body button {
    letter-spacing: .25px;
    line-height: 157%;
}

header {
    background: transparent;
} */

/* .header-scrolled {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

/* .submenu-items:hover img {
    filter: brightness(100%);
}

.submenu-items:hover span {
    color: #E527BB;
} */

/* .header-scrolled .logo-area,
.header-scrolled ul,
.header-scrolled .group-button {
    transform: scale(0.8);
}

.header-scrolled .header-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
} */

/* .card-box.active,
.remote-card.active {
    border-color: #DCDCDC;
    box-shadow: 0 1px 8px 0 #4D58E27A;
} */

/* .swiper-button-disabled {
    opacity: 0.30;
    cursor: default;
} */

/* .detail-link:hover img {
    transform: rotate(-45deg);
} */
